/* Paleta Azul Francia Profesional */
body {
    background-color: #f4f7f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #002d6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 40px 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #0047AB; /* Azul Francia */
    font-size: 2.5rem;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.menu-container {
    width: 100%;
    max-width: 600px;
}

.main-btn {
    width: 100%;
    background-color: #0047AB; /* Azul Francia */
    color: white;
    padding: 18px;
    margin-top: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.main-btn:hover {
    background-color: #003380;
    transform: translateY(-2px);
}

.content {
    background-color: #ffffff;
    border: 2px solid #0047AB;
    padding: 20px;
    display: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.lista-guiones {
    list-style-type: "- ";
    padding-left: 20px;
}

.sub-btn {
    width: 100%;
    background-color: #4169E1;
    color: white;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.sub-content {
    background-color: #eef4ff;
    padding: 15px;
    display: none;
    margin-top: 5px;
    border-left: 4px solid #4169E1;
}

/* Estilos de las Imágenes de Merch */
.contenedor-fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.img-merch {
    width: 30%; /* Tres por fila en pantallas grandes */
    min-width: 150px;
    border: 2px solid #0047AB;
    border-radius: 8px;
    transition: 0.3s;
}

.img-merch:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}
.firma {
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    color: #0047AB; /* Azul Francia */
    letter-spacing: 2px; /* Espaciado entre letras para que quede más pro */
    border-top: 1px solid #d1d1d1;
    opacity: 0.8;
}